@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=PT+Serif:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Header style */
#head-nav{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 100px;
}
.container{
    padding: 50px 150px ;
}
.logo-title{
    font-family: 'PT Serif', serif;
}
.head-title{
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 18px;
}
/* Header style end */

/* Main section style start */
.teams{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 100px;
}
.member-img{
    width: 200px;
}
.member2,.member5{
    position: relative;
    top: 90px;
}
.intro{
    display: flex;
    gap: 10px;
}
.position{
    position: absolute;
    transform-origin: top left;
    transform: rotate(90deg);
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 14px;
}
.name{
    padding-top: 10px;
}
/* Main section style end */


/* Footer style start */
#footer{
    text-align: center;
    margin-top: 150px;
}
.footer-details{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #BDBDBD;
    line-height: 17px;
}

.link{
    font-weight: 700;
    color: #BDBDBD;
}
/* Footer style start */

/* Responsive layout */


@media screen and (max-width:600px) {
    .container{
        padding: 50px 10px ;
    }
    #head-nav{
        grid-template-columns: repeat(1,1fr);
        gap: 50px;
    }

    .teams{
        grid-template-columns: repeat(2,1fr);
        gap: 50px;
    }
    .member-img{
        width: 120px;
    }
    .member2, .member4, .member6{
        position: relative;
        top: 80px;
    }
    .member5{
        position: relative;
        top: 0;
    }
    .member1, .member3 , .member5{
        padding-left: 20px;
    }
    #footer{
        text-align: center;
        margin-top: 150px;
    }
    
}